apiVersion: apps/v1
kind: Deployment
metadata:
  name: grafana
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      app: grafana
  template:
    metadata:
      labels:
        app: grafana
    spec:
      containers:
        - name: grafana
          image: grafana/grafana:latest
          ports:
            - containerPort: 3000
          volumeMounts:
            - name: grafana-datasources
              mountPath: /etc/grafana/provisioning/datasources/
              readOnly: true

            - name: grafana-provider
              mountPath: /etc/grafana/provisioning/dashboards/dashboard-provider.yaml
              subPath: dashboard-provider.yaml

            - name: grafana-dashboards
              mountPath: /var/lib/grafana/dashboards/agro-dashboard.json
              subPath: agro-dashboard.json
      volumes:
        - name: grafana-datasources
          configMap:
            defaultMode: 420
            name: grafana-datasources
        - name: grafana-provider
          configMap:
            name: grafana-dashboard-provider
            
        - name: grafana-dashboards
          configMap:
            name: grafana-dashboards-json